{{ header }}{{ column_left }}

<div id="content" style="background-color:#f4f4f3 !important;">

    <!-- Tab links -->
    <div class="mono-tab">
        <button class="mono-tablinks" id="mono-settings-btn"
                onclick="openTab('mono-settings')">{{ settings_text }}</button>
        <button class="mono-tablinks" id="mono-invoices-btn"
                onclick="openTab('mono-invoices')">{{ invoices_text }}</button>
    </div>

    <div id="mono-settings" class="mono-tabcontent">
        <div class="row" style="margin-top: 2%">
            <div class="col-xs-1"></div>
            <div class="col-xs-10"
                 style="padding: 50px; background-color:white; border: 1px solid #ccc; border-radius:24px;">
                <a href="https://www.monobank.ua/e-comm" target="_blank">
                    <img src="view/image/payment/plata.svg" alt="Monobank"
                         style="margin-bottom: 2%; width: 20%"/>
                </a>
                <div class="col-xs-12" style="margin-bottom: 2%">version <b>{{ version }}</b></div>
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-sm-4" for="input-status"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">
                                <span data-toggle="tooltip" title="">{{ entry_status }}</span>
                            </label>
                            <select name="payment_mono_status" id="input-status" class="mono-select">
                                {% if payment_mono_status %}
                                    <option class="mono-option" value="1"
                                            selected="selected">{{ text_enabled }}</option>
                                    <option class="mono-option" value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option class="mono-option" value="1">{{ text_enabled }}</option>
                                    <option class="mono-option" value="0"
                                            selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-sm-4" for="input-merchant"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">
                                <span data-toggle="tooltip" title="">{{ entry_merchant }}</span>
                            </label>
                            <input style="margin-bottom:0%;" type="text" name="payment_mono_merchant"
                                   value="{{ payment_mono_merchant }}" id="input-merchant" class="mono-select"
                                   required/>
                            {% if error_merchant %}
                                <span class="error">{{ error_merchant }}</span>
                            {% endif %}
                            <p class="mono-text">{{ mono_text }} <a href="https://web.monobank.ua/"
                                                                    style="color:#EA5357;"
                                                                    target="_blank">web.monobank.ua</a></p>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-sm-4 control-label" for="input-geo-zone"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">{{ entry_geo_zone }}
                            </label>
                            <select name="payment_mono_geo_zone_id" id="input-geo-zone" class="mono-select">
                                <option value="0">{{ text_all_zones }}</option>
                                {% for geo_zone in geo_zones %}
                                    <option value="{{ geo_zone.geo_zone_id }}"
                                            {{ geo_zone.geo_zone_id == payment_mono_geo_zone_id ? "selected" }}
                                    >{{ geo_zone.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-sm-4 control-label" for="input-sort-order"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">{{ entry_sort_order }}
                            </label>
                            <input type="text" name="payment_mono_sort_order" value="{{ payment_mono_sort_order }}"
                                   placeholder="{{ entry_sort_order }}" id="input-sort-order" class="mono-select"/>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-sm-4 control-label" for="input-order-status"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">{{ entry_order_success_status }}</label>
                            <select name="payment_mono_order_success_status_id" id="input-order-status"
                                    class="mono-select">
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}"
                                            {{ order_status.order_status_id == payment_mono_order_success_status_id ? 'selected' }}
                                    >{{ order_status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-sm-4 control-label" for="input-order-status"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">{{ entry_order_cancelled_status }}</label>
                            <select name="payment_mono_order_cancelled_status_id" id="input-order-status"
                                    class="mono-select">
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}"
                                            {{ order_status.order_status_id == payment_mono_order_cancelled_status_id ? 'selected' }}
                                    >{{ order_status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-sm-4 control-label" for="input-order-status"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">{{ entry_order_process_status }}</label>
                            <select name="payment_mono_order_process_status_id" id="input-order-status"
                                    class="mono-select">
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}"
                                            {{ order_status.order_status_id == payment_mono_order_process_status_id ? 'selected' }}
                                    >{{ order_status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-sm-4 control-label" for="input-order-status"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">{{ entry_order_hold_status }}</label>
                            <select name="payment_mono_order_hold_status_id" id="input-order-status"
                                    class="mono-select">
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}"
                                            {{ order_status.order_status_id == payment_mono_order_hold_status_id ? 'selected' }}
                                    >{{ order_status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-xs-12">
                            <label class="col-sm-4" for="input-holds"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">
                                <span data-toggle="tooltip" title="">{{ entry_hold }}</span>
                            </label>
                            <select name="payment_mono_use_holds" id="input-holds" class="mono-select">
                                {% if payment_mono_use_holds %}
                                    <option class="mono-option" value="1"
                                            selected="selected">{{ text_enabled }}</option>
                                    <option class="mono-option" value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option class="mono-option" value="1">{{ text_enabled }}</option>
                                    <option class="mono-option" value="0"
                                            selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="col-xs-12">
                            <label class="col-sm-4" for="input-merchant"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;width: 100%;">
                                <span data-toggle="tooltip" title="">{{ entry_destination }}</span>
                            </label>
                            <input style="margin-bottom:0%;" type="text" name="payment_mono_destination"
                                   value="{{ payment_mono_destination }}" id="input-destination" class="mono-select"/>

                        </div>

                        <div class="col-xs-12">
                            <label class="col-sm-12 control-label" for="input-order-status"
                                   style="position:absolute; margin-left: 6px; font-size: 14px; margin-top: 1px; font-weight:300;">{{ entry_fiscalization_code_field }}</label>
                            <select name="payment_mono_fiscalization_code_field" id="input-order-status"
                                    class="mono-select">
                                {% for fiscalization_code_field in fiscalization_code_fields %}
                                    <option value="{{ fiscalization_code_field }}"
                                            {{ fiscalization_code_field == payment_mono_fiscalization_code_field ? 'selected' }}
                                    >{{ fiscalization_code_field }}</option>
                                {% endfor %}
                            </select>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-xs-10">
                            <button type="submit" form="form" data-toggle="tooltip"
                                    class="mono-save-btn">{{ save_btn }}</button>
                        </div>
                        <div class="col-xs-2">
                            <img src="view/image/payment/cat.png" alt="Monobank"
                                 style="position:absolute;  margin-top:-25%; margin-left: -25%; width:200%;"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="mono-invoices" class="mono-tabcontent">
        <div id="mono-loader" style="display:none;">
            <div class="mono-loader-circle"></div>
        </div>

        <!-- Status Filter Dropdown -->
        <div>
            <select id="statusFilter" class="mono-select" onchange="filterPayments()">
                <option class="mono-option" value="">{{ all_statuses_text }}</option>
                {% for status, status_desc in statuses %}
                    <option class="mono-option" value="{{ status }}">
                        {{ status }} — {{ status_desc }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div id="invoices_table">

        </div>

    </div>

</div>

<script>
    var invoicesLoaded = false;
    var token = '';

    // Login to the API
    $.ajax({
        url: '{{ login_url }}',
        type: 'post',
        dataType: 'json',
        data: 'key={{ key }}',
        crossDomain: true,
        success: function (json) {
            $('.alert').remove();

            if (json['error']) {
                if (json['error']['key']) {
                    $('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['key'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

                if (json['error']['ip']) {
                    $('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['ip'] + ' <button type="button" id="button-ip-add" data-loading-text="Loading..." class="btn btn-danger btn-xs pull-right"><i class="fa fa-plus"></i> Add IP</button></div>');
                }
            }

            if (json['api_token']) {
                token = json['api_token'];
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });

    function openTab(tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("mono-tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
            tabcontent[i].classList.remove("active");
        }
        tablinks = document.getElementsByClassName("mono-tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
        document.getElementById(tabName).style.display = "block";
        document.getElementById(tabName).classList.add("active");
        document.getElementById(tabName + "-btn").classList.add("active");

        if (tabName === 'mono-invoices' && !invoicesLoaded) {
            loadPayments('index.php?route=extension/payment/mono/invoices&user_token={{ token }}');
        }
    }

    function selectAllInvoices(source) {
        checkboxes = document.getElementsByName('selected_invoices[]');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function getSelectedInvoices() {
        var selectedInvoices = [];
        var checkboxes = document.getElementsByName('selected_invoices[]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedInvoices.push(checkboxes[i].value);
            }
        }
        return selectedInvoices;
    }

    function filterPayments() {
        var status = document.getElementById('statusFilter').value;
        var url = 'index.php?route=extension/payment/mono/invoices&user_token={{ token }}';

        if (status) {
            url += '&status=' + encodeURIComponent(status);
        }
        loadPayments(url);
    }

    function loadPayments(url) {
        var tableHTML = '<a class="btn btn-primary" onclick="refreshInvoices();">{{ refresh_invoices_btn_text }}</a><table class="table"><thead><tr>' +
            '<th><input type="checkbox" id="select_all_invoices" onclick="selectAllInvoices(this)"/></th>' +
            '<th>Order id</th>' +
            '<th>mono invoice id</th>' +
            '<th>{{ status_text }}</th>' +
            '<th>{{ created_text }}</th>' +
            '</tr></thead><tbody>';
        jQuery.ajax({
            url: url,
            type: 'GET',
            headers: {
                "Accept": "application/json; charset=utf-8",
                "Content-Type": "application/json; charset=utf-8"
            },
            error: function (response) {
                document.getElementById('invoices_table').innerHTML = '<h2>Error getting response</h2>';
                return;
            },
            success: function (response) {
                if (!response.hasOwnProperty('invoices') || response.invoices === null || response.invoices.length == 0) {
                    tableHTML += '</tbody></table>';
                    document.getElementById('invoices_table').innerHTML = tableHTML;
                    return;
                }
                // Loop through the JSON data and create table rows
                for (let invoice of response.invoices) {
                    let params = (new URL(document.location)).searchParams;
                    let urlToken = params.get("user_token");

                    var orderUrl = "/admin/index.php?route=sale/order/info&user_token=" + urlToken + "&order_id=" + invoice.order_id
                    tableHTML += '<tr>' +
                        '<td><input type="checkbox" name="selected_invoices[]" value="' + invoice.invoice_id + '" /></td>' +
                        '<td><a href="' + orderUrl + '">' + invoice.order_id + '</a></td>' +
                        '<td><i class="fa fa-copy" onclick="copyToClipboard(\'' + invoice.invoice_id + '\')"></i> ' + invoice.invoice_id + '</td>' +
                        '<td>' + invoice.status + '</td>' +
                        '<td>' + invoice.created + '</td>' +
                        '</tr>';
                }

                // Update the flag so the data isn't reloaded on subsequent tab switches
                invoicesLoaded = true;

                tableHTML += '</tbody></table>';
                document.getElementById('invoices_table').innerHTML = tableHTML;
            },
        })
    }

    function refreshInvoices() {
        var selectedInvoices = getSelectedInvoices();
        if (selectedInvoices.length == 0) {
            return;
        }

        // Show loader
        document.getElementById('mono-loader').style.display = 'block';

        jQuery.ajax({
            url: '{{ refresh_invoices_url }}&api_token=' + token,
            type: 'POST',
            data: JSON.stringify({invoices: selectedInvoices}),
            headers: {
                "Accept": "application/json; charset=utf-8",
                "Content-Type": "application/json; charset=utf-8"
            },
            success: function (response) {
                document.getElementById('mono-loader').style.display = 'none';

                filterPayments();
            },
            error: function () {
                // Hide loader in case of error
                document.getElementById('mono-loader').style.display = 'none';
            }
        });
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        openTab('mono-settings');
    });


    function copyToClipboard(text) {
        navigator.clipboard.writeText(text);
    }
</script>

<style>
    #content input[type="text"] {
        padding-left: 19px;
        height: 57px !important;
        margin-bottom: 3% !important;
    }

    .mono-save-btn {
        width: 100%;
        background-color: #EA5357;
        color: white;
        font-weight: 600;
        padding: 14px 16px;
        grid-auto-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid transparent;
        border-radius: 16px;
        cursor: pointer;
    }

    .mono-select {
        outline: none;
        width: 100%;
        font-size: 16px;
        padding: 0 30px 0 15px;
        margin-bottom: 3% !important;
        border-radius: 0;
        font-weight: 600;
        height: 57px !important;
        border: 1px solid #e1e1e1;
    }

    .mono-select:focus-visible, .mono-select:hover, .mono-select:active, .mono-select:focus {
        border: 1px solid #e1e1e1;
    }

    .mono-tab {
        background-color: #fff;
        padding-left: 0;
    }

    /* Style the buttons inside the tab */
    .mono-tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
    }

    /* Change background color of buttons on hover */
    .mono-tab button:hover {
        background-color: #ddd;
    }

    .mono-tab button.active {
        background-color: #f4f4f4;
        border-bottom: 2px solid #1e91cf;
    }

    .mono-tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
    }

    .mono-tabcontent.active {
        display: block;
    }

    /* loader stuff */
    #mono-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1000;
    }

    .mono-loader-circle {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
{{ footer }}